extend ../layouts/layout.pug

block main
    nav.menu
        ul.menu-ul
            li.menu-li.dropdown-li
                a.menu-a
                    | Home
                ul.dropdown-ul
                    li.menu-li.dropdown-li
                        a.menu-a
                            | Home1
                        ul.dropdown-ul
                            li.menu-li
                                a.menu-a
                                    | Home2
                            li.menu-li
                                a.menu-a
                                    | Home3